:root {
  --bgColor: hsl(115, 26%, 45%);
  --primColor: hsl(0, 0%, 10%);
  --secColor: hsl(0, 0%, 30%);
  --terColor: hsl(0, 0%, 50%);
  --dropColor: hsl(0, 0%, 25%);
}

body {
  background-color: black;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

* {
  font-family: Soda;
}

#mainContent {
  /* text-align: center; */
  /* left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); */
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: none;
  background-color: var(--bgColor);
  /* border: 3px solid darkslategray;  */
  /* padding: 2rem 1rem 1rem 1rem; */
  /* border-radius: 1rem; */
  display: grid;
  grid-template-columns: calc(100vw / 7 * 2) calc(100vw / 7 * 5);
}

#sidebar {
  background-color: var(--primColor);
  /* width: 100%; */
  width: calc(100vw / 7 * 2 - 1rem);
  /* outline: 1px solid red; */
  overflow: hidden;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

#info {
  color: white;
  /* border-bottom: 1px solid white; */
}

.iCont {
  /* outline:1px solid darkslategrey; */
  background-color: var(--secColor);
  width: calc(100% - 1rem);
  height: 3rem;
  border-radius: 0.25rem;
  align-self: center;
  padding: 0.5rem;
  filter: drop-shadow(0 0.25rem var(--dropColor));
  margin: 0 0 0.5rem 0;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  text-align: center;
}

.soda {
  font-family: Soda;
}
.VCR {
  font-family: VCR;
}

.largeInfo {
  width: 100%;
  line-height: 150%;
  display: flex;
  font-size:xx-large;
}

.subNum {
  width: 100%;
  text-align: center;
  align-content: center;
  font-size: 2rem;
  font-family: Soda;
}

.mleft {
  margin: 0 0 0 1rem;
}
.mboth {
  margin: 0 1rem 0 1rem;
}

.bgSub {
  /* margin: 0 1rem; */
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
  background-color: var(--terColor);
  border-radius: 0.2rem;
}

#invContainer {
  overflow: hidden;
  text-align: center;
  max-height: 100%;
  height: 100%;
}

#inventory {
  display: grid;
  justify-content: space-evenly;
  align-self: center;
  /* outline: 1px solid blue; */
  grid-template-columns: repeat(auto-fill, 3.2rem);
  gap: 0.2rem;
  overflow-y: scroll;
  /* height: calc(100% - 1.6rem); */
  max-height: calc(100% - 1.6rem);
}

#inventory>* {
  margin: 0.1rem;
  width: 3rem;
  aspect-ratio: 1/1;
}



#game {
  width: 100%;
  /* background-color: blue; */
  overflow: hidden;
  width: calc(100vw / 7 * 5);
}

.dice {
  display: flex;
}



.die {
  aspect-ratio: 1/1;
  width: 5rem;
  text-align: center;
  line-height: 5rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  background-color: white;
}

#newItem {
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  position: absolute;
  align-items: center;
  justify-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

#itemModal {
  padding: 2.5rem;
  background-color: slategray;
  display: flex;
  flex-direction: column;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 1rem;
  border: 3px solid darkslategray;
  align-items: center;
}

#skipCost {
  color: lawngreen;
  background-color: gray;
}

#itemModal>span {
  text-align: center;
}

#itemModal>div {
  display: flex;
  justify-content: space-around;
}

#itemModal>div>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item {
  aspect-ratio: 1/1;
  width: 8rem;
  padding: 0.2rem 1rem;
}

#tooltip {
  position: absolute;
  left: 0;
  top: 0;
  width: 10rem;
  height: 5rem;
  background-color: slategray;
  border-radius: 0.2rem;
  border: 3px solid darkslategray;
  pointer-events: none;
  visibility: hidden;
}

@font-face {
  font-family: Soda;
  src: url(GrapeSoda.ttf);
}

@font-face {
  font-family: VCR;
  src: url(VCR.ttf);
}