#mainContent {
  text-align: center;
  left:50%;
  top:50%;
  transform:translate(-50%, -50%);
  position:absolute;
  overflow:none;
}
#game {
  display:flex;
  width: 50vw;
  justify-content: space-around;
  justify-self: center;
}
.die {
  aspect-ratio: 1/1;
  width:5em;
  text-align: center;
  line-height: 5em;
  border:1px solid black;
}